<section class="tc pv5 bb bt b--black-10 bg-washed-blue">
  <div class="ph3 ph5-ns">
    <h3 class="f5 fw6 ttu tracked black-70 mb4">Ejemplo de Cache API</h3>
    <button id="clear-cache" class="no-underline grow pa3 br2 bg-blue white mr3 mb3 dib">Limpiar cache</button>
    <button id="register-sw-1" class="no-underline grow pa3 br2 bg-blue white mr3 mb3 dib">Registrar Service Worker 1</button>
    <button id="register-sw-2" class="no-underline grow pa3 br2 bg-blue white mr3 mb3 dib">Registrar Service Worker 2</button>
  </div>
</section>
<section class="cf ph3 ph5-ns pb4 black-70">
  <div id="sw-count" class="pb2">
  </div>
</section>
<section class="cf ph3 ph5-ns pb4 black-70">
  <div id="message" class="pb2">
  </div>
</section>
{{> script}}