<section class="cf ph3 ph5-ns pb5 bg-yellow black-70" id="features">
  <div class="mw9 center">
    <h1 class="fl w-100 mt5 f5 ttu tracked fw6">Ciclo de vida</h1>
    {{#withGroup lifecycleLinks 2}}
    <div class="cf">
      {{#each this}}
      <article class="pv2 fl w-100 w-50-l pr0 pr2-l">
        <h2 class="f4 f2-ns fw6 mb2">
          <a class="black-70 link" href="/lifecycle/{{key}}">{{title}}</a>
        </h2>
      </article>
      {{/each}}
    </div>
    {{/withGroup}}
  </div>
  <div class="mw9 center">
    <h1 class="fl w-100 mt5 f5 ttu tracked fw6">Cache API</h1>
    <div class="cf">
      <article class="pv2 fl w-100 w-50-l pr0 pr2-l">
        <h2 class="f4 f2-ns fw6 mb2">
          <a class="black-70 link" href="/cacheapi">Ejemplos de cache api</a>
        </h2>
      </article>
    </div>
  </div>
  <div class="mw9 center">
    <h1 class="fl w-100 mt5 f5 ttu tracked fw6">PRPL</h1>
    <div class="cf">
      <article class="pv2 fl w-100 w-50-l pr0 pr2-l">
        <h2 class="f4 f2-ns fw6 mb2">
          <a class="black-70 link" href="/prpl">Ejemplo de PRPL</a>
        </h2>
      </article>
    </div>
  </div>
  <div class="mw9 center">
    <h1 class="fl w-100 mt5 f5 ttu tracked fw6">Push</h1>
    <div class="cf">
      <article class="pv2 fl w-100 w-50-l pr0 pr2-l">
        <h2 class="f4 f2-ns fw6 mb2">
          <a class="black-70 link" href="/push">Ejemplo de notificaciones push</a>
        </h2>
      </article>
    </div>
  </div>
</section>
{{> script}}