  <section class="tc pv5 bb bt b--black-10 bg-washed-blue">
    <div class="ph3 ph5-ns">
      <h3 class="f5 fw6 ttu tracked black-70 mb4">Habilitar/Deshabilitar mensajes push</h3>
      <button class="js-push-button no-underline grow pa3 br2 bg-blue white mr3 mb3 dib">Habilitar</button>
    </div>
  </section>

  <section class="tc pv5 bb bt b--black-10 bg-washed-blue">
    <div class="ph3 ph5-ns">
      <h3 class="f5 fw6 ttu tracked black-70 mb4">Usa este comando CURL para enviar un mensaje</h3>
      <div class="js-curl-command"></div>
    </div>
  </section>

  <script src="/js/push.js"></script>