<header class="ph3 ph5-ns w-100 bg-transparent pv3 bb b--black-10 overflow-auto">
  <div class="nowrap mw9 center">
    {{#each lifecycleLinks}}
    <a href="/lifecycle/{{this.key}}" class="pv1-ns f6 fw6 dim link black-70 mr2 mr3-m mr4-l dib">
      {{this.title}}
    </a>
    {{/each}}
  </div>
</header>
<section class="cf ph3 ph5-ns pb4 bg-yellow black-70">
  <div class="mw9 center">
    <article class="pv2 fl w-100 ">
      <h2 class="f4 f1-ns fw6 mb2">Estado: {{activePage.title}}</h2>
      <p class="f5 f4-ns lh-copy mt0">{{{activePage.intro}}}</p>
    </article>
  </div>
</section>