<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ getTitle }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/tachyons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/themes/prism.min.css">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/images/icons/icon-192x192.png" sizes="192x192" type="image/png">
  <meta name="theme-color" content="#ffd104">
</head>

<body class="w-100 sans-serif">
  <header class="w-100 pa3 ph5-ns bg-white">
    <div class="db dt-ns mw9 center w-100">
      <div class="db dtc-ns v-mid tl w-50">
        <a href="/" class="dib f5 f4-ns fw6 mt0 mb1 link black-70" title="Home">
          Service Workers Intro
        </a>
      </div>
      <nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
        {{{getMainLinks}}}
      </nav>
    </div>
  </header>
  <main class="w-100 bt b--black-10 bg-white">
    <section class="bg-black-0125 w-100">
      {{{body}}}
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-javascript.min.js"></script>
</body>

</html>